<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>You Are Awesome!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>412BF1031E38BF3200E3E4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412BF1171E38BF3200E3E4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412BF1221E38BF3200E3E4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
